.body{
  background-color: #080808;
  min-height: 100vh;
  .titulo{
    color: white;
    text-align: center;
    text-transform: uppercase;
    padding-top: 20px;
    font-weight: 100;
    letter-spacing: 10px;
  }
}