.item-list {
    width: 100%;
    min-height: 70vh;

    .item-list_title {
        text-align: center;
        margin: auto;
        margin-top: 50px;
        margin-bottom: 20px;
        font-size: 3rem;
        color: $letter;
        font-family: $text;
    }
    
}

@media only screen and (min-width: 768px) {
    .item-list {
        .item-list_title {
            width: 50%;
        }
    }
}

@media only screen and (min-width: 992px) {
    .item-list {
        .item-list_title {
            width: 40%;
        }
    }
}
@media only screen and (min-width: 1200px) {
    .item-list {
        .item-list_title {
            width: 25%;
        }
    }
}