.item-count {
    display: flex;
    flex-direction: column;
    justify-content: center;
    div {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: $letter;
        font-size: 2rem;
        margin-bottom: 10px;
        button {
            background: $golden;
            width: 50px;
            color: $letter;
            border: 1px solid $golden;
            
            &.item-count_subtract{ 
                border-radius: 100px;
            }

            &.item-count_add{
                border-radius: 100px;
            }
        }
        p {
            padding: 5px 20px;
            background: transparent;
        }
    }

    .item-count_add-to-car {
        border: 1px solid $golden;
        margin: auto;
        width: 30%;
        padding: 10px 0;
        border-radius: 20px;
        background: $golden;
        font-size: 1.5rem;
        color: $letter;
        font-weight: bold;
    }
}