.header{
  background-color: #080808;
  display: flex;
  justify-content: center;
  border-bottom: solid 3px rgb(255, 183, 0);
  color: white;
  height: 150px;
  .nav{
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 40px;
    .logo{
      color: white;
      text-transform: uppercase;
      width: max-content;
      font-size: 1.5rem;
      letter-spacing: 3px;
      font-weight: 100;
      text-decoration: none;
    }
    .navMenu{
      display: flex;
      gap: 60px;
      .navMenuItem{
        list-style: none;
        text-transform: uppercase;
        width: max-content;
        font-size: 1.5rem;
        letter-spacing: 3px;
        font-weight: 100;
        .navMenuLink{
          text-decoration: none;
          color: white;
        }
      }
    }
  }
}